.report {
    cursor: pointer;
}

.navigace {
    margin-bottom: 20px;
    line-height: 1.0;
}

.informace td:nth-child(1) {
    font-weight: bold;
    text-align: left;
}

.informace td:nth-child(2) {
    text-align: right;
}

#footer {
    background: black;
    color: white;
}